@media only screen and (min-width: 500px) {
    .content { 
        flex-direction: row; 
    }
}

@media only screen and (max-width: 500px) {
    .content { 
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
    }
}

html, body {
    height: 100%;
    margin: 0;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    background-color: green;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#content {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}

#image {
    margin: 20px auto;
}

#description {
    margin: 0 10px;
}

#device_content {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

#actions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100px;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header_text {
    font-size: 30;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}

.info_panel {
    margin-bottom: 10px;
}

.info_title {
    font-weight: bold;
}